@{
    ViewBag.Title = "_ContentLayout";
}

<link href="@Url.Content("~/Content/global.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/Third/Datepicker/skin/WdatePicker.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/Third/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
<script src="@Url.Content("~/Scripts/Third/layer-v1.8.5/layer/layer.min.js")"></script>
<script src="@Url.Content("~/Scripts/XGrid/jquery.xForm.Validate.js")"></script>
<script src="@Url.Content("~/Scripts/XGrid/Common.js")"></script>
<script src="@Url.Content("~/Scripts/Third/jsrender.min.js")"></script>
<script src="@Url.Content("~/Scripts/xPlugin/jquery.wyGrid.js")"></script>
<script src="@Url.Content("~/Scripts/Third/uploadify/jquery.uploadify.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/xPlugin/jquery.attachment.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Third/Datepicker/WdatePicker.js")"></script>

<script type="text/javascript">
    $(function () {
        $(".App_TableBlock:not(:first)").each(function () {
            $(this).find("tr:not(:first)").hide();
        });
        $("tr[expland='true']").each(function () {
            $(this).parent().find("tr:not(:first)").show();
        });

        $(".App_TableBlock").find("tr:first").bind("click",
        function () {
            $(this).parent().find("tr:not(:first)").toggle();
        });

    });
</script>
<div class="main" id="main">
    @RenderBody()
</div>