@{
    ViewBag.Title = "ProjectApproval";
    Layout = "~/Views/Shared/_ContentLayout.cshtml"; 
}
@model KCZYLIMS.Models.kczy_ProjectApproveMD

<script type="text/javascript">
    $(function() {
        $("#approvelTable").wyGrid({ PageSize: 5, allowDisabledPageSize: true, allowSelected: false });
        InitButtonInfo('', '../ProcessMineralogyAPI/UpdateProjectApproval');
        //动态增行
        $("#ddlIsCompleted").get(0).options["@Model.IsCompleted"].selected = true;
        $("#ddlIsPatented").get(0).options["@Model.IsPatented"].selected = true;
        $("#ddlIsChecked").get(0).options["@Model.IsChecked"].selected = true;
        //下载附件
        $("body").on("click", ".span-attachment", function(event) {
            var ahref = $(this).find("a");
            var attid = $(ahref).attr('attr_id');
            var attrPath = $(ahref).attr('attr_path');
            var attrFileName = $(ahref).attr('attr_filename');
            $('#ifDownloadpage').attr('src', '../Portal/DownloadPage' + '?AttachID=' + attid + "&OrigPath=" + attrPath + "&FileName=" + attrFileName);
        });
        $("#btnEdit").click(function() {
            SaveAttachment();
        });
        //附件的控件
        var itemid = getUrlQueryString('ItemID');
        $('#lbtnBaseUpload').attachmentInit({ RelatedID: itemid, RelatedType: 2, DivId: 'divBaseUpload' });
        // InitAtachment();
        $("#txtWriter").click(function() {
            openDialogWindow("../Selector/UserSelector?ReturnCtrl=hfValue&CallBack=WriterResponsorSetter()&MultiSelect=false&Type=1", "950", "600", "false");
        });
        //判断是否为最后一级，如果是则隐藏下一步审批信息
        $.ajax({
            type: "POST", //默认是GET
            url: "../CommonSvr/IsLastStep", //调用WebService的地址和方法名称组合 ---- WsURL/方法名
            data: { "origId": itemid - 4, "itemId": itemid },
            async: true, //异步
            cache: false, //不加载缓存
            success: function (json) {
                //返回的result就是json格式的
                if (json.Result == true) {
                    //$("#appInfo input[type='checkbox']").attr("checked", "checked");
                    $("#appInfo").hide();
                }
            }
        });
    });
    //保存附件
    function SaveAttachment() {
        //保存单个的附件
        $('#lbtnBaseUpload').attachmentSave({ RelatedID: getUrlQueryString('ItemID'), RelatedType: 2, DivId: 'divBaseUpload' });
    }//end o func
</script>
<script id="submit_Lists" type="text/x-jsrender">
    <input type="checkbox" value="{{>UserID}}" />
    <label>{{>FullName}}</label>

</script>
<script id="approve_Lists" type="text/x-jsrender">
    <tr>
        <td>{{>UserName}}</td>
        <td>{{>ResultText}}</td>
        <td>{{>MyNote}}</td>
        <td>{{>SubmitDateStr}}</td>
        <td></td>
    </tr>
</script>
<form id="MainFrm">
    <input type="hidden" id="hfLast"/>
    <div id="tabs" style="margin: auto;">
        <div id="page1">
            <div class="table-wrapper">
                <table id="page1_block1" class="App_TableBlock" align="center" border="0" cellspacing="0"
                       width="100%">
                    <tbody>
                        <tr style="display: none;">
                            <td colspan="4" class="TableHeader">
                                基本信息
                            </td>
                        </tr>
                        <tr id="page1_block1_row1">
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="项目名称" class="TableContent  Red">项目名称</span>
                            </td>
                            <td class="TableData Width40" colspan="1">
                                <input id="txtMyID" class="display_none" type="text" value="@Model.MyID" name="MyID" />
                                <input id="txtMyCode" class="display_none" type="text" value="@Model.MyCode" name="MyCode" />
                                <input class="display_none" type="text" value="@Model.ItemID" name="ItemID" />
                                <input class="display_none" type="text" value="@Model.OrigID" name="OrigID" />
                                <input id="txtMyName" class="InputField Width90" type="text" value="@Model.MyName" name="MyName" require="must"/>
                            </td>
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="" class="TableContent Red">报告撰写人</span>
                            </td>
                            <td class="TableData Width40" colspan="1">
                                <input id="txtWriterID" name="WriterID" class="display_none" value="@Model.WriterID"></input>
                                <input name="Writer" id="txtWriter" class="InputField Width80 refField"
                                       onfocus="this.className='InputFocus Width80 refField'" onblur="this.className='InputField Width80 refField'"
                                       require="must" readonly="readonly" value="@Model.Writer"></input>
                                <a href="javascript:void(0)" id="a2" class="ref-delete-handle inline-block"></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="" class="TableContent  ">研究工作开始时间</span>
                            </td>
                            <td class="TableData Width40">
                                <input id="txtBeginDate" class="InputField Width90 dateField" type="text" name="BeginDate" onfocus="this.className='InputFocus Width90 dateField'" onblur="this.className='InputField Width90 dateField'"
                                       onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '#F{$dp.$D(\'txtEndDate\')||\'%y-%M-%d\'}' });" value="@Model.BeginDate.ToString("yyyy-MM-dd")" />
                            </td>
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="" class="TableContent  ">研究工作结束时间</span>
                            </td>
                            <td>
                                <input id="txtEndDate" class="InputField Width80 dateField"
                                       onfocus="this.className = 'InputFocus Width80 dateField'" onblur="this.className = 'InputField Width80 dateField'"
                                       onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', minDate: '#F{$dp.$D(\'txtBeginDate\')}', maxDate: '%y-%M-%d' });" title="完成日期" name="EndDate" value="@Model.EndDate.ToString("yyyy-MM-dd")">
                                </input>
                            </td>
                        </tr>
                        <tr>
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="" class="TableContent  ">报告提交时间</span>
                            </td>
                            <td class="TableData Width40" colspan="1">
                                <input id="txtApproveDate" class="InputField Width90 dateField" onfocus="this.className='InputFocus Width90 dateField'"
                                       onblur="this.className='InputField Width90 dateField'" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'});"
                                       title="出生日期"  value="@Model.ApproveDate.ToString("yyyy-MM-dd")">
                                </input>
                            </td>
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="" class="TableContent  ">此项研究工作是否最终完成</span>
                            </td>
                            <td class="TableData Width40" colspan="1">
                                <span>
                                    <select name="IsCompleted" id="ddlIsCompleted" class="InputField Width80 "
                                            title="" require="none">
                                        <option value="0">--请选择--</option>
                                        <option value="1">--否--</option>
                                        <option value="2">--是--</option>
                                    </select>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="" class="TableContent  ">是否申请专利</span>
                            </td>
                            <td class="TableData Width40" colspan="1">
                                <span>
                                    <select name="IsPatented" id="ddlIsPatented" class="InputField Width90 "
                                            title=""  require="none">
                                        <option value="0">--请选择--</option>
                                        <option value="1">--否--</option>
                                        <option value="2">--是--</option>
                                    </select>
                                </span>
                            </td>
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="" class="TableContent  ">是否验收/鉴定</span>
                            </td>
                            <td class="TableData Width40" colspan="1">
                                <span>
                                    <select name="IsChecked" id="ddlIsChecked" class="InputField Width80 "
                                            title=""  require="none">
                                        <option value="0">--请选择--</option>
                                        <option value="1">--否--</option>
                                        <option value="2">--是--</option>
                                    </select>
                                </span>
                            </td>
                        </tr>
                        <tr id="page1_block1_row7" expland="true">
                            <td width="150" nowrap="" class="TableLabel">
                                <input type="button" value="上传附件" class="btn-red" id="lbtnBaseUpload">
                            </td>
                            <td colspan="7" class="TableData Width90">
                                <div style="margin: 0 0 5px 0px" id="divBaseUpload">

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper">
                <table id="Table5" class="App_TableBlock" align="center" border="0" cellspacing="0"
                       width="100%">
                    <tbody>
                        <tr>
                            <td colspan="4" class="TableHeader">
                                记录信息
                            </td>
                        </tr>
                        <tr id="Tr14">
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="" class="TableContent  ">创建人</span>
                            </td>
                            <td class="TableData Width40" colspan="1">
                                <input class="display_none" value="@Model.CreatorID" name="CreatorID"></input>
                                <input id="txtCreateBy" title="创建人" class="InputField Width90 InputReadonly"
                                       maxlength="100" datatype="text" readonly="True" value="@Model.CreateBy" name="CreateBy"></input>
                            </td>
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="" class="TableContent  ">创建时间</span>
                            </td>
                            <td class="TableData Width40" colspan="1">
                                <input id="txtCreatDate" title="创建时间" class="InputField Width80 InputReadonly"
                                       maxlength="100" datatype="datetime" readonly="True" value="@Model.CreateDate" name="CreateDate"></input>
                            </td>
                        </tr>
                        <tr id="Tr15">
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="" class="TableContent  ">最后修改人</span>
                            </td>
                            <td class="TableData Width40" colspan="1">
                                <input class="display_none" value="@Model.ModifierID" name="ModifierID"></input>
                                <input id="txtModifiedBy" title="最后修改人"
                                       class="InputField Width90 InputReadonly" maxlength="100" datatype="datetime"
                                       readonly="True" value="@Model.ModifiedBy" name="ModifiedBy"></input>
                            </td>
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="" class="TableContent  ">最后修改时间</span>
                            </td>
                            <td class="TableData Width40" colspan="1">
                                <input id="txtLastModified" title="最后修改时间"
                                       class="InputField Width80 InputReadonly" maxlength="100" datatype="datetime"
                                       readonly="True" value="@Model.LastModified"></input>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <center>
        <!----chk，序号，名称，---->
        <div>
            <table id="approvelTable" class="App_TableBlock" style="width: 100%; border-collapse: collapse; table-layout: fixed;margin-top: 20px;">
                <tbody>
                    <tr>
                        <td colspan="5" class="TableHeader">
                            审批历史
                        </td>
                    </tr>
                    <tr id="product_tbl_header">
                        <th style="width:100px">提交人</th>
                        <th style=" width:100px"></th>
                        <th style="width:200px"></th>
                        <th style="width:200px"></th>
                        <th style="width:2000px"></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="appInfo" style="display: none; margin-top: 30px;"><span style="margin-left: 10px;">意见:</span><input id="ApproveMyNote" class="" type="text" style="width: 300px;"></input><span id="approveUsers" style="margin-left: 30px;">下一级审批人：</span></div>
    </center>
    <table style="margin: 5px 0" width="100%">
        <tbody>
            <tr align="center">
                <td id="tdCteat">
                    <input value="保存" class="btn-blue" type="button" id="btnSave" />
                </td>
                <td id="tdEdit" style="display: none;">
                    <input value="保存" class="btn-blue" type="button" id="btnEdit" />
                    <input value="提交" class="btn-blue" type="button" id="submit" />
                </td>
                <td id="tdApprove" style="display: none;">
                    <input value="同意" class="btn-blue" type="button" id="btnApprove" />
                    <input value="驳回" class="btn-blue" type="button" id="btnReject" />
                </td>
            </tr>
        </tbody>
    </table>
    <iframe id="ifDownloadpage" style="display:none;"></iframe>
</form>
