@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CKW2</title>

    <link href="@Url.Content("~/Content/global.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet">

    <script src="@Url.Content("~/Scripts/KendoUI/js/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/KendoUI/js/kendo.all.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/xPlugin/jquery.wyGrid.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/xPlugin/jquery.spreadtable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/xPlugin/jquery.attachment.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Scripts/Third/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/Third/uploadify/jquery.uploadify.js")" type="text/javascript"></script>


    <script src="@Url.Content("~/Scripts/Third/layer-v1.8.5/layer/layer.min.js")"></script>


    <script type="text/javascript">
        $(function () {
            //上传附件
            $('#btnPage1').click(function () {
                $('#txtHtml').html($('#page1').html());
                $('#hfValue').val($('#page1').attr("formid"));
            })
            $("#btnPage2").click(function () {
                $('#txtHtml').html($('#page2').html());
                $('#hfValue').val($('#page2').attr("formid"));
            })
            $('#btnLoad').click(function () {
                $('#app').html("");
                $('#app').append($('#txtHtml').val())
            })
            $('#btnSaveData').click(function () {
                alert('后台产生的是随机数，我就假的^.^ ');
            })



            $('#btnDataBind').click(function () {
                var formid = $('#hfValue').val();
                if (formid == "" || formid == undefined || $('#app').html() == "")
                {
                    alert("先加载页面");
                    return false;
                }
                $.ajax({
                    type: 'post',
                    url: '/Demo/TestForm',//路径为添加方法
                    data: 'FormID=' + formid,//参数的个数和名字要和方法的名字保持一致
                    success: function (json)//返回的是Json类型的
                    {
                        alert("后台生成了一些随机数，coming soon");
                        InitView(json.Data);
                    }
                });
            })//end of func

        })

        function InitView(json_data) {
            //啥也没有时，直接增加一行
            $("#app").find("input[type='text']").each(function (idx, obj) {
                if ($(obj).attr("fieldname") != undefined && $(obj).attr("fieldname") != null && $(obj).attr("fieldname") != "")
                {
                    var fieldIdx = $(obj).attr("fieldname");
                    $(obj).val(json_data[fieldIdx]);
                }
            })
            $("#app").find("textarea").each(function (idx, obj) {
                if ($(obj).attr("fieldname") != undefined && $(obj).attr("fieldname") != null && $(obj).attr("fieldname") != "") {
                    var fieldIdx = $(obj).attr("fieldname");
                    $(obj).val(json_data[fieldIdx]);
                }
            })
        }//end func

    </script>

</head>
<body>
    <input type="hidden" value="" id="hfValue" />

    <div style="margin:10px 10px 10px 10px">
        <button id="btnPage1" class="btn">表单1</button>
        <button id="btnPage2" class="btn">表单2</button> ==>点了表单后可以看到表单的源码，再点这个==>
        <button id="btnLoad" class="btn-blue">加载页面</button>
    </div>

    <div style="margin:10px 10px 10px 10px">
        让我们来测试一下数据怎么绑定吧。
        <button id="btnDataBind" class="btn">渲染数据</button>
        <button id="btnSaveData" class="btn">保存数据</button>

    </div>

    <div id="app" style="margin: 10px 10px 10px 10px; width: 600px; float: left; border: 1px solid #e7e7e7; background-color: #fafafa; ">

        
    </div>
    <div style="margin:10px 10px 10px 10px;float:left">
        <p>表单源代码，用原生的html，加入一个特殊的fieldname</p>
        <textarea id="txtHtml" rows="6" style="width:400px;height:600px"></textarea>
    </div>

    <div style="clear:both"></div>


    <div style="display:none">
        <div id="page1" formid="1">
            <div class="table-wrapper">
                <table id="page1_block1" class="App_TableBlock" align="center" border="0" cellspacing="0"
                       width="100%">
                    <tbody>
                        <tr style="display: none;">
                            <td colspan="4" class="TableHeader">
                                基本信息
                            </td>
                        </tr>
                        <tr>
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="" class="TableContent  Red">项目名称</span>
                            </td>
                            <td class="TableData Width40">
                                <input id="txtMyName" class="InputField Width80" type="text" fieldname="f1" name="MyName" require="must" />
                            </td>
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="" class="TableContent  Red">项目编号</span>
                            </td>
                            <td class="TableData Width40">
                                <input id="txtMyCode" class="InputField Width80" type="text" fieldname="f2" name="MyCode" require="must" />
                            </td>
                        </tr>
                        <tr id="Tr4">
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="">项目负责人</span>
                            </td>
                            <td class="TableData Width40">         
                                <input id="txtPrincipal" class="InputField Width80 refField" type="text" name="Principal" fieldname="f3" readonly="readonly" />
                                <a href="javascript:void(0)" id="a2" class="ref-delete-handle inline-block"></a>
                            </td>
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="">项目参与人</span>
                            </td>
                            <td class="TableData Width40">
                                <input id="txtPrincipal" class="InputField Width80 refField" type="text" name="Principal" fieldname="f4" readonly="readonly" />
                                <a href="javascript:void(0)" id="a2" class="ref-delete-handle inline-block"></a>
                            </td>
                        </tr>
                        <tr id="page1_block1_row1">
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="委托单位" class="TableContent">委托单位</span>
                            </td>
                            <td class="TableData Width40" colspan="1">
                                <input name="Client" id="txtClient" type="text" class="InputField Width80 refField"
                                       onfocus="this.className='InputFocus Width80 refField'" onblur="this.className='InputField Width80 refField'"
                                       title="委托单位" fieldname="f5"></input>
                                <a href="javascript:void(0)" id="a1" class="ref-delete-handle inline-block"></a>
                            </td>
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="" class="TableContent  ">专题账号</span>
                            </td>
                            <td class="TableData Width40" colspan="1">
                                <input name="SpecialAccount" id="txtSpecialAccount"
                                       fieldname="f6" class="InputField Width80" title="" type="text" />
                            </td>
                        </tr>
                        <tr id="page1_block1_row2">
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="">任务开始时间</span>
                            </td>
                            <td class="TableData Width40">
                                <input id="txtBeginDate" class="InputField Width80 dateField" type="text" name="BeginDate" onfocus="this.className='InputFocus Width80 dateField'" onblur="this.className='InputField Width80 dateField'"
                                       onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '#F{$dp.$D(\'txtEndDate\')||\'%y-%M-%d\'}' });" fieldname="f7" />
                            </td>
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="截止日期" class="TableContent  ">要求完成日期</span>
                            </td>
                            <td class="TableData Width40" colspan="1">
                                <input id="txtEndDate" class="InputField Width80 dateField" fieldname="f8" type="text"
                                       onfocus="this.className='InputFocus Width80 dateField'" onblur="this.className='InputField Width80 dateField'"
                                       onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', minDate: '#F{$dp.$D(\'txtBeginDate\')}'});" title="完成日期"
                                       datatype="date" require="none" name="EndDate" value="" />                               
                            </td>
                        </tr>
                        <tr id="page1_block2_row1">
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="金额" class="TableContent  ">经费</span>
                            </td>
                            <td class="TableData Width40" colspan="1">
                                <input id="txtAmount" class="InputField Width80 " onfocus="this.className='InputFocus Width80 '" type="text"
                                       onblur="this.className='InputField Width80 '" title="经费" name="Amount" fieldname="f9" datatype="money">
                                </input>
                            </td>

                        </tr>
                        <tr id="Tr1">
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="工作目的与要求" class="TableContent  ">工作目的与要求</span>
                            </td>
                            <td class="TableData Width90" colspan="3">
                                <textarea rows="5" name="WorkRequirement" id="txtWorkRequirement" fieldname="f10"
                                          class="InputField Width90 " onfocus="this.className='InputFocus Width90 '" onblur="this.className='InputField Width90 '"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!---end of page1----->
        <div id="page2" formid="2">
            <span>你愿意拿多少钱出来投资</span>
            <input type="text" fieldname="f1" />
        </div>
    </div>



</body>
</html>
